@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

@theme {
    --font-Quicksand: "Quicksand", sans-serif;
    --font-bebas: "Bebas Neue", serif;
    @keyframes bounce{
        50%{
            transform: translateY(-15px);
        }
    }
}

.dot{
    @apply w-8 h-8 bg-amber-500 rounded-full animate-bounce ring-1 ring-amber-400/50 ;
}

.middle-dot{
    animation-delay: 0.2s;
}


.last-dot{
    animation-delay: 0.3s;
}

.sidebar-link{
    @apply flex text-gray-700 gap-2 items-center-safe mb-6 text-sm font-Quicksand font-semibold p-3;
}

.sidebar-link-active{
    @apply bg-amber-500 rounded-md p-3 text-white
}

.slider {
  /* For Webkit browsers (Chrome, Safari, Opera) */
  ::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  scrollbar-width: none;

  /* For Internet Explorer and Edge */
  -ms-overflow-style: none;
}

/* Carousel background images */
.bg-hero-1{
    background-image: url('../src/assets/bg-carousel-1.jpg');
}

.bg-hero-2{
    background-image: url('../src/assets/bg-carousel-2.jpg');
}

.bg-hero-3{
    background-image: url('../src/assets/bg-carousel-3.jpg');
}

.bg-hero-4{
    background-image: url('../src/assets/bg-carousel-4.jpg');
}

.bg-hero-5{
    background-image: url('../src/assets/bg-carousel-5.jpg');
}