@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

@theme {
    --font-Quicksand: "Quicksand", sans-serif;
    --font-bebas: "Bebas Neue", serif;
}